[2014-11-11 15:11] momo1240 opened #4 "images indexing"
Hello,
I'm using the last version on ps 1.5.6.2
I saw that when the sitemap is generated, only default image is indexed for a product. How can we index other images products
many thanks

[2014-11-12 08:17] #4 closed, assigned to nobody

[2015-02-13 11:25] weloveparty opened #14 "Timeout problem on dedicated server"

[2015-02-13 13:25] #14 closed

[2015-03-15 14:05] ea4fvb opened #16 "Sitemap of product combinations"
Hi friend would be interresting add combinations url´s to sitemap, not only product url`s

What think about

[2015-07-14 11:29] Fajy opened #24 "To index all products images"
Hi,

In my online shop I have products with some other colors. you can see an example here :

http://www.apprentiphotographe.ch/shop/en/funny-t-shirt/413-women-s-or-men-s-funny-t-shirt-fifty-shades-of-beer.html

That would say that I can have up to 8 kind of images for one product. For me it is important to have all these images indexed by google.

is it possible to have all images indexed instead

[2015-09-28 15:27] Ekman opened #26 "Memory exhausted"
We are running Prestashop using the multi shop feature with 3 shops and approximately 5000 products in total. Our environment is running PHP 5.5 with a memory limit of 768 MB. When we're trying to create a sitemap our server runs out of memory. Tried increasing to 1024 MB and the same problem.

[2015-11-11 22:34] TarGz opened #30 "Exclude out of stock product"
- Would it be possible to only include product with quantity superior to 0 ?
- It could be interesting to get a checkbox "Exclude product out of stock".
- Even if it's not a feature that could be added could you tell me how I could acheive to modify this module to only add product that are actualy in stock ?

Thanks

[2015-12-31 13:36] siomosp opened #32 "Site map without friendly urls"
It seems that sitemap always generates friendly Urls
There is a way to generate the non friendly url version?
e.g http://www.stickit.gr/index.php?id_product=18392&controller=product

[2016-03-21 09:07] Soullivaneuh opened #34 "Option to choose static or source images url"
If we activate a CDN on Presathop, this CDN is used for image url sitemap generation.

Google search seems to not like this. Could we add an option to choose if we want (or no) to use the source instead the CDN?

[2016-04-06 12:58] walfc opened #35 "https instead of http"
i cant see how to make the site work as https, the sitemap location and the called files are always http

[2016-04-21 10:30] walfc commented on #35
Any update on this please?

[2016-07-18 13:29] Casper-O commented on #26
Try look in gsitemap.php on lne 237 the following should be there:
`if ($i <= 25000 && memory_get_usage() < 100000000)`
try change it to this
`if ($i <= 25000 && memory_get_usage() < 50000000)`
or maybe even this:
`if ($i <= 25000 && memory_get_usage() < 25000000)`
It limits the size of the files that you generate and helped us to generate sitemaps for sites with more than 5000 products even with

[2016-07-19 08:24] Ekman commented on #26
Thanks for your reply Casper! I'm closing this since Prestashop does not seem to take these issues seriously.

[2016-07-19 08:24] #26 closed

[2016-07-19 09:13] Casper-O commented on #26
Did it help you?

[2016-07-19 10:08] Ekman commented on #26
I don't know. The issue is no longer relevant for me. Can't remember if we solved it or went with another solution.

[2016-07-20 08:47] Casper-O opened #37 "Not compatible with CronJobs module"
Its not compatible with the CronJobs module from Prestashop https://github.com/PrestaShop/cronjobs

header() redirection is not executed, if you have to many entries in your sitemap
https://github.com/PrestaShop/gsitemap/blob/master/gsitemap.php#L260

https://github.com/PrestaShop/gsitemap/blob/master/gsitemap.php#L266

[2017-02-03 15:59] Repitol opened #39 "gsitemap 3.2.1 link always wrong"
Hi
On every Prestashop websites I use, when I enable gsitemap, it displays a link to sitemap which is wrong -> error 404
example
_Please set up the following Sitemap URL in your Google Webmaster account:
http://www.mydomain.com/1_index_sitemap.xml_
This link is definitively wrong so I can't set it up in my Google Search Console
I'm using Prestahop 1.6.11
Any fix ?
Thanks

[2017-04-18 07:59] Geolim4 commented on #35
It seem to be hardcoded atm :/

[2017-07-14 12:07] gfrenoy opened #43 "Cron job does not work with Prestashop 1.7"
In "gsitemap-cron.php", the use of p() at line 55 causes a "PHP Fatal error:  Uncaught Error: Call to undefined function p()".

[2017-08-02 17:32] chellem commented on #43
Created a pull request (#44) for this. 👍

[2017-09-20 17:14] tom75 opened #45 "could not be installed in prestashop 1.7"
Hello Prestashop-Colleagues,

great to see that there is a sitemap module availabe, but, I just tried to use this module with prestashop 1.7.2.2 and it is not possible to install, because of

"incorrect zip format of module" (translated freely from german).

Should this work already for prestashop 1.7.2.2 - or is it not working?

and if this one is not working, any ideas where i can find a working

[2017-10-09 18:21] AndreaLombardo commented on #45
I think you need to buy some other module... I have the same problem, but everything is for sale on prestashop marketplace...

[2017-10-26 12:29] PR0SAT opened #46 "Timeout on shared hosting"
2233 products x 4 languages + categories + blog module is time and resource consuming (approx. 65 sec for one language) even under php 7 with LiteSpeed server, the whole process should be done faster without the need of creating the whole product object instance if the link_rewrite field is present in my opinion.

All right then, I decied to make an edit:

There is a $_GET['continue'] param which

[2017-11-06 12:45] chykalodmitry commented on #35
@walfc
The module works good with ssl but after you changed your working shop from http to https you must delete the file in your root folder of Prestashop named 1_index_sitemap.xml and then recreate sitemap in module. After that open your sitemap in browser https://yourdomain.com/1_index_sitemap.xml and check if the nested sitemaps url has 'https'.
It happens because there is no function to delet

[2017-11-18 14:05] edgarass40 commented on #43
Prestashop 1.7
I'm getting 500 error in gsitemap link for cron jobs.
UndefinedFunctionException in gsitemap-cron.php line 55:
Attempted to call function "p" from the global namespace.
Removing function p like in pull request #44 does not help, then i recieve 500 error without any errors.

[2018-01-03 09:37] devnetto opened #47 "has format errors"
we have Semrush and there tools says that the sitemap has format error.  they say
The order should be as listed on https://www.sitemaps.org/protocol.html:

   <url>

      <loc>http://www.example.com/</loc>

      <lastmod>2005-01-01</lastmod>

      <changefreq>monthly</changefreq>

      <priority>0.8</priority>

   </url>

[2018-01-15 22:46] mouse100 opened #48 "Translation issue"
I've installed the module on my prestashop 1.6.1.17 italian site but I can see the sitemap only in english as in the attached photo. How can I solve?
![26756789_1770472366338917_1479125160348017724_o](https://user-images.githubusercontent.com/35471262/34964523-4b212442-fa4e-11e7-8308-10a3255a3e0b.jpg)

[2018-02-04 21:33] samvh13 opened #49 "Prestashop 1.7 sitemap removed after cron"
Hi,

after manually making de sitemap, (because a cron job doesn't work) when clicking on the given link, the sitemap is removed. the sitemap-index file still remain's but until i upload a sitemap manualy, there is nothing happening.
What can it be?

with kind regards
sam

[2018-02-26 08:22] nndnewbie opened #50 "Link to id_category=2 - Category not found"
In sitemap there is link to id_category=2 (`<![CDATA[ https://www.domain.com/2-...`) but that link is not found in Prestashop 1.6.1.x so it generates an error in Google Search Console.

[2018-04-24 05:52] sanctusmob commented on #49
From Prestaforum

https://www.prestashop.com/forums/topic/606126-google-xml-sitemap-for-prestashop-171/?do=findComment&comment=2781678

Just for everyone else having trouble in the 1.7 version. The gsitemap-cron.php file uses a deprecated debug function "p()".

You have to change the last line from

p($gsitemap->createSitemap((int)$id_shop));

to

dump($gsitemap->createSitemap((int)$id_shop));

[2018-06-11 10:21] HartLarsson commented on #50
on Google sitemap v3.2.2 the error is present:
it generates "2-home" for each language installed!
2-home not exist and give 404 error on Google search console.
There are many bug report on the forge like: http://forge.prestashop.com/browse/PNM-3890
but no one fixed it

[2018-06-21 05:38] ghost opened #51 "automatic cancellation of sub-sitemaps"
Good morning

I installed the gsitemap v3.2.2 module in my prestashop 1.7.1.2. The problem is that after generating the sub-sitemaps (divided by language) they are deleted after about half an hour. I tried to edit the file gsitemap-chron.php leave the option p (), deleting the option (p) and replacing with the dump command but in any case the sub-sitemaps are deleted and only the sitemap index and

[2018-08-24 10:07] centoasa commented on #49
Also with this, at the end of generation file, I've always 503

[2018-08-24 10:10] centoasa commented on #46
dump($gsitemap->createSitemap((int)$id_shop));
also with this at the end of generation file, I've 503 server error

[2018-10-16 13:02] Mreker commented on #51
This issue is already fixed.

[2018-10-16 13:02] Mreker commented on #50
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:03] Mreker commented on #49
Fixed in latest version.

[2018-10-16 13:03] Mreker commented on #48
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:03] Mreker commented on #47
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:03] Mreker commented on #46
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:04] Mreker commented on #45
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:04] Mreker commented on #43
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:04] Mreker commented on #39
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:05] Mreker commented on #35
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:05] Mreker commented on #34
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:05] Mreker commented on #32
Thank you for your report! This issue is fixed here: https://github.com/PrestaShop/gsitemap/pull/53

[2018-10-16 13:06] Mreker commented on #30
This is bad for SEO.

[2018-10-16 13:06] Mreker commented on #24
This is bad for SEO. In your case, you should add more products with one color per product.

[2018-10-16 13:08] Mreker commented on #16
Sorry, this will generate double content. Also due to canonical you will not have your combinations listed in google.

[2018-10-17 09:02] #32 closed

[2018-10-17 09:02] #34 closed

[2018-10-17 09:03] #35 closed

[2018-10-17 09:03] #39 closed

[2018-10-17 09:04] #43 closed

[2018-10-17 09:04] #45 closed

[2018-10-17 09:04] #46 closed

[2018-10-17 09:04] #47 closed

[2018-10-17 09:05] #48 closed

[2018-10-17 09:05] #49 closed

[2018-10-17 09:06] #50 closed

[2018-10-17 09:06] #51 closed

[2018-10-17 09:33] Mreker commented on #30
Google win still index all your products even if the products that are out of stock is not in the sitemap.xml :-)

[2018-10-17 09:49] #30 closed

[2018-10-17 09:49] #24 closed

[2018-10-17 09:49] #16 closed

[2018-10-18 16:38] r-liciotti opened #57 "problem with the generated sitemap files"
With the linux cron, the gsitemap module generates only one xml file.
If I use the form or I directly click on the URL that gives me gsitemap then it creates all 5 files.

Prestashop 1.7.3

[2018-10-18 17:16] r-liciotti commented on #57
now also with version 4.0.0 of gsitemap it does not work by clicking with the button(it create one only file)

[2018-10-18 19:12] Mreker commented on #57
That works for me, for both conjob and button. I uploaded a video here, so you can see it: https://ufile.io/e3b31

[2018-10-18 19:12] Mreker commented on #57
Please try to uninstall your old module and reinstall the new module.

[2018-10-18 19:13] Mreker commented on #57
Also please send a video to show me your issue.

[2018-10-18 22:19] r-liciotti commented on #57
My problem is that with crone task only one sitemap.xml is created, I have already tried to install and reinstall the various versions of gsitemap.

I hope you will understand, thanks vary much!

<img width="1207" alt="schermata 2018-10-19 alle 00 14 28" src="https://user-images.githubusercontent.com/35048026/47187336-f874d800-d333-11e8-88b9-c5be9808f728.png">

[2018-10-19 08:11] Mreker commented on #57
I am not able to reproduce your issue.

[2018-10-23 11:43] IT-Droid opened #58 "Schema issue on gsitemap.php"
Hi,

There is an error on generated index_sitemap file, line 732 on gsitemap.php
`        $xml = '<?xml version="1.0" encoding="UTF-8"?><sitemapindex xmlns="**https:**//www.sitemaps.org/schemas/sitemap/0.9"></sitemapindex>';`
google search console needs http not https.

[2018-10-24 08:45] PrestaShark opened #59 "Main store category is not needed in sitemap"
Main store category is not needed in sitemap IMHO. Need to remove it.

[2018-10-24 08:47] PrestaShark commented on #57
4.0.0 works in 1.7.4.3 without any problem.

[2018-10-24 09:57] MathiasReker commented on #58
Fixed here: https://github.com/PrestaShop/gsitemap/pull/60

[2018-10-24 10:00] MathiasReker commented on #59
Can you point it out on a screenshot. I am not 100% sure what you mean?

[2018-10-24 10:01] MathiasReker commented on #57
@r-liciotti can you reproduce on a fresh install?

[2018-10-24 10:59] MathiasReker commented on #59
Ok, you mean the home category. I make a PR for that.

[2018-10-24 11:17] MathiasReker commented on #59
Fixed here: https://github.com/PrestaShop/gsitemap/pull/61

[2018-10-24 11:36] PrestaShark commented on #59
Works like a charm :) Thank You

[2018-10-24 12:13] MathiasReker commented on #59
You are welcome

[2018-10-28 20:20] sajjads3 opened #62 "presta 1.7.2"
hi tanx for your work
i use presta 1.7.2 and sitemap dosen include id_product_attribute

my structure on presta 1.7.2 is
{id}{-:id_product_attribute}/{rewrite}

and
product in my website like :
https://www.example.com/fa/33-98/productname

and in sitemap like :
https://www.example.com/fa/33/namekala

because prestashop 1.7 i have to use id_product_attribute but sitemap not making it
pls help me
ta

[2018-10-30 11:57] MathiasReker commented on #62
I am not able to solve this, sorry. Why would you want to make a path of ID's? It is not good for SEO.

[2018-11-03 17:07] evgenij-sobolev opened #63 "Duplicating main page"
I have issue with dublicating the main page:

![screenshot_1](https://user-images.githubusercontent.com/20418648/47955110-96ef7300-df9b-11e8-9b73-2b3a12de2070.png)

Prestashop 1.6.1.20
gsitemap v3.2.2

[2018-11-03 17:08] evgenij-sobolev commented on #63
The same error on version 1.6.1.22 and gsitemap v3.2.2

[2018-11-04 21:06] evgenij-sobolev commented on #63
Bad news.
Maybe you can apply this fix for version 3.x?
It is still a very large number of stores using version 1.6.x

[2018-11-04 21:18] MathiasReker commented on #63
Try to apply this commit: https://github.com/PrestaShop/gsitemap/pull/23/commits/87b70abb12f64ce3fe5131c4450b850263059054

[2018-11-06 06:40] evgenij-sobolev commented on #63
Thank you, but it did not help.

[2018-11-06 11:12] MathiasReker commented on #63
Weird. Did you regenerate the sitemaps?

[2018-11-14 10:03] nbexiga opened #65 "it stops in the middle of generate sitemap. v4.0 with presta 1.7"
Hi
i had to roll back to the v.2.3.3 because when i generated the sitemap with version 4.0 it disappear from the sitemap module, go to the main modules page , and if i return to the sitemap module to generate i noticed that it was not generated any file only one part of the sitemap.
it does not complete the task.
if i run by cron the same issue.
where i can see the logs for this? or where is the p

[2018-11-14 11:06] khouloudbelguith commented on #65
Hi @nbexiga,

If you click on the "Generate sitemap" button, there is no sitemap file generated?
I attached a video record
https://drive.google.com/file/d/1i-YDyzVvklUmRqwC21CUFxEhtxvLxOT2/view
Thanks!

[2018-11-14 11:09] nbexiga commented on #65
Hi
if i click generate sitemap it keeps loading but after that it goes to the main menu for the modules...
and no sitemap generated..
in the version before it was generated 5 langs of my store in separate files... and one sitemap generated..

[2018-11-14 11:15] khouloudbelguith commented on #65
@nbexiga, I did not manage to reproduce the issue with 1.7.4.4 / 1.7.5.0beta1 & the gsitemap module v4.0.0 as I attached in the video record.
You can enable the debug mode & paste here the exceptions that you have.
Thanks!

[2018-11-14 11:29] khouloudbelguith commented on #65
@nbexiga, thanks!
Waiting for your feedback.

[2018-11-14 12:11] nbexiga commented on #65
With the debug mode activated it does not give any error ...
:(
after i click generate sitemap it loads for 2 minutes +- and after that go to the modules pagae again.

when i return to the module only generated one part ..
see atached print
![sitemap](https://user-images.githubusercontent.com/34128424/48481716-75498380-e806-11e8-8c08-10564c9dc911.JPG)

[2018-11-14 12:39] khouloudbelguith commented on #65
@nbexiga, We need to retrieve the PHP error log in order to find out what's wrong.

[2018-11-14 12:46] nbexiga commented on #65
How can i get the php error?
in the log does not appear nothing.. :(
where is other log?

[2018-11-14 12:48] nbexiga commented on #65
maybe this? i found in the log regarding sitemap

[Wed Nov 14 12:16:12.116459 2018] [proxy_fcgi:error] [pid 2439:tid 139850669795072] [client 173.249.46.227:37336] AH01068: Got bogus version 111, referer: https://tngoodies.com/tempftrol/index.php?controller=AdminModules&configure=gsitemap&token=7f62f408f295c9aef05aa1cf9290db62

[2018-11-14 13:41] nbexiga commented on #65
and how can i see the error log for this? for the module

[2018-11-14 13:47] khouloudbelguith commented on #65
@nbexiga, you can follow this [link](http://build.prestashop.com/howtos/misc/how-to-create-bug-report/) to get how can add logs.
Thanks!

[2018-11-14 14:00] nbexiga commented on #65
that0s the only thing that i have in php errors :(

[2018-11-14 14:42] khouloudbelguith commented on #65
Hi @nbexiga,

I tried with version Prestashop 1.7.4.3, but I did not manage to reproduce the issue.
https://drive.google.com/file/d/1-mt4vlDvpr5yfKEMuQhnPsH7PGyVtKfk/view
Thanks!

[2018-11-14 14:42] #65 closed

[2018-11-14 15:00] nbexiga commented on #65
i have the store in 5 languages.. can be because of that?
many products?

[2018-11-14 15:09] khouloudbelguith commented on #65
@nbexiga, no.
I have more than 5 languages & it is Ok.
![image](https://user-images.githubusercontent.com/16067358/48491345-a38b8b00-e827-11e8-8be4-ba3c01715b61.png)

[2018-11-14 15:12] nbexiga commented on #65
so what can be the problem with me? please help.. :)

[2018-11-14 15:46] marionf commented on #65
I can't reproduce either

[2018-11-14 16:00] nbexiga commented on #65
for me it's not any error that gives...
simply get out of the module and go to the main modules installed page...

[2018-11-19 14:38] pvechi opened #67 "Image caption does not insert space between paragraphs"
I assume caption is taken from the product's brief description.  If I have two paragraphs `<p>` on the brief description, the caption appearing on the sitemap does not insert a space between the paragraphs.

Eg. The sitemap image caption shows "... end of my first paragraph.Start of next paragraph ..." instead of "... end of my first paragraph. Start of next paragraph ..."

Sentences within a para

[2018-11-27 11:36] MathiasReker commented on #67
Fixed: https://github.com/PrestaShop/gsitemap/pull/68

[2018-11-27 11:37] MathiasReker commented on #67
Please close this issue.

[2018-11-27 11:38] MathiasReker commented on #59
Please close this issue.

[2018-11-27 11:38] MathiasReker commented on #58
Please close this issue.

[2018-11-27 12:04] Quetzacoalt91 commented on #59
Fixed by #61

[2018-11-27 12:04] #59 closed

[2018-11-27 12:04] Quetzacoalt91 commented on #58
Fixed by #60

[2018-11-27 12:04] #58 closed

[2018-11-27 15:11] pvechi commented on #67
Thanks @MathiasReker for looking into this.  How do I check this?  Is an update available via Prestashop addons or our backoffice?  Thanks again.

[2018-11-27 15:38] MathiasReker commented on #67
@pvechi you have to edit your module from ftp.

[2018-11-27 16:57] pvechi commented on #67
@MathiasReker will this be included on the next update from Prestashop Addons?

[2018-11-28 07:44] PierreRambaud commented on #67
Thanks @pvechi and @MathiasReker for the pull request. I'm agree with the change, don't know what think other developers. We will close this issue once the PR will be merge :)

[2018-12-03 20:07] astagi opened #69 "Do not work with SimpleBlog"
I can't include articles in sitemap, I'm using SimpleBlog module. Any hint?

[2018-12-03 22:21] burrots commented on #69
Yo can't include pages in sitemap from other modules. This module is only for prestashop native pages...

[2018-12-04 09:09] marionf commented on #69
Gsitemap is only for prestashop native pages

[2018-12-04 09:44] astagi commented on #69
Thanks @marionf

[2018-12-04 10:50] MathiasReker commented on #69
@marionf It should be possible for a non-native module to include itself. The module will become visible in the configuration and should be unchecked to be included in the sitemap. I think the SimpleBlog maybe has an issue. Maybe this should stay open for a while?

@astagi Can you send a screenshot of your configuration?

[2018-12-04 15:33] omata opened #70 "Index sitemap file generated with errors"
**Prestshop version:** 1.7.4.2
**PHP version:** 7.2.12
**Google Sitemap module version:** 4.0.0

When I generate the sitemap with the button it is build. But the sitemap index return errors when tested at Google sitemap. The error is related with a wrong space in the name, Google says that expected is, *(line 2)*:
[code]
And found is:
[code]
I don't know if it is related with the site certificate,

[2018-12-05 08:49] astagi commented on #69
Hi @marionf this is my configuration:

![image](https://user-images.githubusercontent.com/537363/49501278-c501f480-f872-11e8-84bb-cb302c91fede.png)

I tried to search something related to SimpleBlog exportation but I didn't find anything

[2018-12-05 09:15] MathiasReker commented on #70
Solved here: https://github.com/PrestaShop/gsitemap/pull/60

[2018-12-05 09:15] MathiasReker commented on #69
@astagi Can you please contact SimpleBlog? I think they may have an issue.

[2018-12-05 09:36] #70 closed

[2018-12-05 10:39] #67 closed

[2018-12-05 10:41] #63 closed

[2018-12-05 10:41] #57 closed

[2018-12-05 10:41] #62 closed

[2018-12-06 12:03] razarahil opened #75 "Unable to Install on Prestashop 1.6.1.23"

[2018-12-06 12:38] MathiasReker commented on #75
You need at least PS 1.7.1.x to use v. 4.0.x of the module. You can use v. 3.x.x for PS 1.6.1.23

[2018-12-06 13:18] khouloudbelguith commented on #75
Hi @razarahil,

As @MathiasReker said, gsitemap module is compatible with PS1.7.1.0 or more.
https://github.com/PrestaShop/gsitemap/blob/v4.0.0/gsitemap.php#L48
Thanks!

[2018-12-06 13:18] #75 closed

[2018-12-10 10:52] acaparrelli opened #76 "Google Search Console says: Incorrect namespace"
I'm using PS 1.7.4.2

As I say in the subject Google Search Console returns these errors:

- Sitemap index can be read, but has errors
- Your Sitemap or Sitemap index file doesn't properly declare the namespace. Line: 2

The problem is only with the Index, the child sitemaps (one for each language) seems to be accepted correctly.

[2018-12-10 10:53] khouloudbelguith commented on #75
@razarahil, thanks to check with this file.
[gsitemap.zip](https://github.com/PrestaShop/gsitemap/files/2662778/gsitemap.zip)
Thanks!

[2018-12-13 01:00] holographix commented on #45
Sorry to reopen this issue, but I followed all the #53 and I also downloaded a fresh version of this module but I still get the same error as the OP on PS 1.7.2.4.
Since I have plenty of sandboxes I also tried it on a fresh install, but that didn't change the outcome.
Unfortunately there's no log in the error log file.

FWIW if you unzip the folder in the modules directory it obviously works.
Thx

[2018-12-13 10:14] MathiasReker commented on #76
Fixed here: https://github.com/PrestaShop/gsitemap/pull/60

[2018-12-13 10:52] #76 closed

[2018-12-13 14:07] MathiasReker commented on #69
Not a PrestaShop issue. I asked the develop of SimpleBlog to look into this. Please close this PR :-)

[2018-12-13 15:59] #69 closed

[2018-12-31 13:28] HartLarsson opened #100 "v3.2.2 on PS 1.6.1.18 creates 2-home in sitemap"
i've 2 languages configured in my ps 1.6.1.18 and i noticed in the sitemap 2strange 404 urls, one per language:

`<url>
<loc><![CDATA[https://www.angelovintage.com/it/2-home]]></loc>
<priority>0.8</priority>
<lastmod>2017-01-16T08:59:54+01:00</lastmod>
<changefreq>daily</changefreq>
</url>`

`<url>
<loc><![CDATA[https://www.angelovintage.com/en/2-home]]></loc>
<priority>0.8</priority>
<lastmod>201

[2019-01-03 13:34] BoutiquesInternet opened #101 "Tools::getIsset(Tools::getValue('id_shop')) return false"
Hi,

In multistore mode, Tools::getIsset(Tools::getValue('id_shop')) return false;
line 52 in gsitemap-cron.php

gsitemap version : 4.1.0
Prestashop version : 1.7.4.3

[2019-01-07 07:56] khouloudbelguith commented on #100
Hi @HartLarsson,

Your issue is fixed with this PR: https://github.com/PrestaShop/gsitemap/pull/61.
Thanks!

[2019-01-07 07:56] #100 closed

[2019-01-07 07:56] khouloudbelguith commented on #100
Duplicate of https://github.com/PrestaShop/gsitemap/issues/59

[2019-01-07 18:50] HartLarsson commented on #100
i checked the version 3.2.2 (the latest available for 1.6.1.x and the problem opersist.
Please apply the patch to the 1.6.x branch/tag too

thanks

[2019-01-07 18:51] MathiasReker commented on #100
You can patch it buy replace the line from this pr: #59

[2019-01-07 18:55] HartLarsson commented on #100
I will do that way ;) but would be nice to move the fix to next version from 3.2.2 to 3.2.3 for 1.6 so people can get the fixed version in easy way ;)

thanks

[2019-01-07 18:56] MathiasReker commented on #100
I don't think gsitemap will be supported anymore for 1.6, sorry.

[2019-01-08 19:44] HartLarsson commented on #100
anyway i fixed the 2-home bug adapting your code:

`		$categories_id = Db::getInstance()->ExecuteS(
			'SELECT c.id_category FROM `'._DB_PREFIX_.'category` c
				INNER JOIN `'._DB_PREFIX_.'category_shop` cs ON c.`id_category` = cs.`id_category`
				WHERE c.`id_category` >= '.intval($id_category).' AND c.`active` = 1 AND c.`id_category` != 1 AND c.id_category != ' . (int) Configuration::get('PS_HOM

[2019-01-23 08:49] sashachirico opened #102 "Not compatible with Prestashop 1.7.4"
Can we upgrade this module?

[2019-01-23 14:40] MathiasReker commented on #102
The module is compatible with 1.7.4. Can you tell me what is not working at your end?

[2019-01-28 10:21] Werbike commented on #102
is it compatible with 1.7.5? Iv'e put this module from presta addons, but when i click on generate its swhon error 500. When i put version from github it say's smth like "This file is not correct zip module"
![image](https://user-images.githubusercontent.com/40056329/51829907-e5888100-22ee-11e9-8998-95a8fb5e8319.png)

[2019-01-28 10:37] Werbike commented on #102
Debug:
![image](https://user-images.githubusercontent.com/40056329/51830663-a9562000-22f0-11e9-9ca3-fb23023feb8e.png)
![image](https://user-images.githubusercontent.com/40056329/51830717-cee32980-22f0-11e9-8d22-147752cc013c.png)
![image](https://user-images.githubusercontent.com/40056329/51830761-e1f5f980-22f0-11e9-962c-5aecb6394001.png)
![image](https://user-images.githubusercontent.com/40056329/

[2019-01-28 10:47] Werbike commented on #102
Ok, nvm. Iv'e deleted cron job, and module manualy with ftp and it works now. I mean version from presta addons not from github.

[2019-01-31 11:46] rafaviana opened #105 "Wrong /.html URL"
Hello
Sitemap is creating a "ghost" URL that I can't understand where does it come from… on every language there is a url like this: https://www.sitename.com/pt/.html

Anyone with the same issue or any idea how to solve it?

I'm using PS 1.7.5.0 with Google Sitempa 4.1.0

Thanks!

[2019-02-02 12:52] MathiasReker commented on #105
What are you SEO URL settings?

[2019-02-02 12:54] MathiasReker commented on #102
Maybe the first module was corrupted. Please close the issue if the issue is solved.

[2019-02-02 13:15] rafaviana commented on #105
Please take a look:
![seo urls temosonline](https://user-images.githubusercontent.com/5817213/52164645-5075f580-26fd-11e9-99af-f9b8640a596a.png)

[2019-02-02 14:10] MathiasReker commented on #105
Could you try to remove ".html" and try again?

[2019-02-02 14:11] MathiasReker commented on #105
from route to products.

[2019-02-04 08:01] rafaviana commented on #105
Hi @MathiasReker . Yes it worked, I think the problem is caused because of a 3rd-party module I'm using to remove IDs from URLs, I already contacted the developer to see he can help me.

Thanks!

[2019-02-04 08:01] #105 closed

[2019-02-10 22:08] Pixep commented on #24
If anyone want a solution, I just submitted a pull request to expose all images from a product #107.
Google will probably find these images, given some time, but I prefer to expose directly the high-resolution picture in the sitemap. In the end it is always difficult to know exactly how the crawling will go, but this can help, with a minimal impact on the server side.

The only drawback I see is t

[2019-02-11 11:13] elkeselda commented on #24
Hi, great improvement, is there a way how to load the image title and set it as image label(nstead of the products name)?

[2019-02-11 17:29] Pixep opened #108 "Use image 'legend' when available"
The sitemap should use images' legend field, as defined in products' BO page, when available. It is currently using the product name and meta description, regardless of the legend value.

From sitemap.php:
[code]

[2019-02-17 12:47] BenTen opened #109 "404 error when check the presence of the image files on the server"
Hello,
----
PS 1.7.5.0
Sitemap 4.1.1
----
When I check the box "Check this box if you wish to check the presence of the image files on the server" I can't generate a sitemap, it return 404 error.

Without check, the sitemap is generate.

[2019-03-27 09:01] sanctusmob opened #110 "Generated only one language sitemap and half"
Prestashop 1.7.5.1
Google sitemap v4.1.0
PHP version: 7.1.27
Dedicated server.
I have 2 languages (EN and GR)  in prestashop and i have 36000 products.

When i hit Generate Sitemap button from the Module Manager after few seconds redirects me to Module Catalog!!! The generated sitemap xml is only the EN language (the other one is missing).
The EN have around 22000 urls.

When i run it from cron vi

[2019-04-03 19:10] mschiele opened #111 "product combinations are not listed in sitemap.xml"
we can only find the link to a main product in our sitemap.xml.
all product combinations/ variations, which have own urls in prestashop too, are not listed in sitemap.xml. not sure if this is an issue or should be a feature?

[2019-04-26 13:56] bm-services opened #112 "Cron error with modules"
Hi,
We encounter error code when modules try to add URLs in sitemap.
Here, it's "Advanced Search 4" module.

`Return code is 255
Error output was:
	PHP Fatal error:  Uncaught PrestaShopException: Dispatcher::createUrl() miss required parameter "id_seo" for route "module-pm_advancedsearch4-seo" in www/classes/Dispatcher.php:808
	Stack trace:
	#0 www/classes/Link.php(953): DispatcherCore->createUrl(

[2019-04-26 15:24] khouloudbelguith commented on #112
Hi @bm-services,

I did not manage to reproduce the issue with PS 1.7.5.1 and the module GSitemap V4.1.0.
I attached a screenshot.
![sitemap](https://user-images.githubusercontent.com/16067358/56818366-677d3d00-683f-11e9-93e7-6ff5950e0ca4.png)
Could you please try to uninstall then install the module.
Thanks for check and feedback.

[2019-04-29 11:52] ecovidasolar commented on #112
Hello,
you have to deactivate the module advanced search 4. You make the sitemap and then you activate the module advance search 4 again.
It is the only way for you to have both modules active.

[2019-04-29 12:40] khouloudbelguith commented on #112
Hi @bm-services,

Have you tried to contact the the module author?
Thanks to check with them & feedback.

[2019-04-29 16:03] ecovidasolar commented on #112
This answer of module authot:

[2019-04-29 16:26] khouloudbelguith commented on #112
Hi @ecovidasolar,

Thanks for your feedback.
I installed the advanced search module 4 & then I tried to generate the the sitemap & it is OK.
I attached a video record
https://drive.google.com/file/d/1WHZM0BNd7fcYPF3DqwMunHfw9zRvjvFL/view
Thanks to check & feedback

[2019-05-06 07:19] bm-services commented on #112
Hi khouloudbelguith,
The problem occurs with the cron and appears in server log but not in back office interface.

[2019-05-09 08:40] 01park opened #113 "Gsitemap for multistore not working with CRON"
PS 1.7.5.2 and have Gsitemap 4.1.0

When I create a cron job for shop_id=1 the created sitemap is a succes.
When I create a cron job for shop_id=2 the sitemap for shop_id=1 gets updated and nothing for  shop_id=2

When I go into shop 1 and press generate sitemap in the module, it works. If I do this for shop 2 it works to.

When I click on the link given at the bottom, a new tab opens, the page is

[2019-05-09 08:41] khouloudbelguith commented on #112
Hi @bm-services,

Thanks for your feedback.
In my case, I checked my log file, but I did not find any error similar to yours => it is OK.
@sarahdib could you please try to reproduce the issue?
Thanks!

[2019-05-09 08:58] sarahdib commented on #112
Hi @bm-services

We think rhis error is not related to PrestaShop Core but the module advanced search 4.
I advise you to contact directly the contributor. The error indicated that the gsitemap module try to get a value who doesn't exist in the url generated by advanced search.

Thank you

[2019-05-09 08:59] #112 closed

[2019-05-09 12:43] bm-services commented on #112
For information, Advanced Search 4 module support answer:
"The error is generated because the GSiteMap module does not care about any parameters that might be needed for the different modules. You will be able to meet the problem with other modules than ours whose controllers have mandatory parameters (as id_seo in our case).
 
In order to easily fix this, you can exclude the controllers for our m

[2019-05-31 13:10] khouloudbelguith commented on #113
Hi @01park,

For different shops selected you have a link cron to generate a sitemap.

- Shop 1: http://Your_shop/modules/gsitemap/gsitemap-cron.php?token=19496193e4&id_shop=1
- Shop2: http://Your_shop/modules/gsitemap/gsitemap-cron.php?token=19496193e4&id_shop=2

When you click on those links, generating a sitemap is done on the background.

THanks!

[2019-05-31 13:12] 01park commented on #113
Hi

Yes, tried this does not work to

[2019-05-31 13:19] khouloudbelguith commented on #113
@01park, thanks for your feedback.
I manage to reproduce the issue with v4.1.0.
When we click on this link: Shop 1: `http://Your_shop/modules/gsitemap/gsitemap-cron.php?token=19496193e4&id_shop=1`
the sitemap for the first shop is updated
we can check that in this file **lastmod**: `http://Your_shop/1_index_sitemap.xml`
When we click on this link: Shop2: `http://Your_shop/modules/gsitemap/gsitemap

[2019-05-31 13:21] 01park commented on #113
Im happy you have confirmed it's a bug. Someone told me its my server

[2019-06-02 13:28] Fixmetal opened #115 "504 Gateway Timeout upon sitemap generation"
Hello,
I've got an odd problem which I can't debug really. I've got PS 1.7.5.2 with single store on Ionos shared hosting, PHP 7.2, MySQL 5.5, Apache 2.4.
The gsitemap module keeps getting timeouts while trying to create a sitemap regardless of id_shop=1 (Italian language) or id_shop=2 (English language).
I've put 900seconds as max_execution_time=900 in my php.ini but that doesn't really help.
I ke

[2019-06-07 11:25] sanctusmob commented on #110
I increase value in gsitemap.php line 263 and problem solved.

[code]

[2019-06-07 11:25] #110 closed

[2019-06-17 08:29] mathieuhen commented on #113
Yes, i had the same bug.
The mistake in the code is at the line 52 in gsitemap-cron.php.

The function Tools::getIsset is filled with the parameter Tools::getValue('id_shop') so it returns always FALSE.

Replace the line 52 with this :
`$id_shop = (Tools::getIsset('id_shop') && in_array(Tools::getValue('id_shop'), $list_id_shop)) ? (int) Tools::getValue('id_shop') : (int) Configuration::get('PS_SH

[2019-06-17 08:40] khouloudbelguith commented on #113
Hi @mathieuhen,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/gsitemap
Thank you!

[2019-06-17 09:17] 01park commented on #113
Thank you for fixing this Mathieuhen,

This worked for me!

[2019-06-26 15:02] Ferreidea opened #116 "Errors in the Gsitemap Module of Prestashop 1.7.5.2"
Hi!

The Gsitemap Module is configured in my site in the version 4.1.0 in a 1.7.5.2 Prestashop Store

I have a cron task that generates the sitemap every night

My site has already 31.000 urls more or less, but the Gsitemap Module only generates 25.001 urls in the mastwer sitemap file and no matter how many produts or categories I add,The sitemap is blocked in 25.001 urls and do not generate any m

[2019-07-07 14:31] MathiasReker commented on #116
Try to increase 25000 on this line https://github.com/PrestaShop/gsitemap/blob/master/gsitemap.php#L263

[2019-07-07 15:02] MathiasReker commented on #113
Fixed: https://github.com/PrestaShop/gsitemap/pull/118

[2019-07-12 21:08] 01park commented on #113
Maybe this fix could be integrated in to newer PS releases. In 1.7.6 this bug is still remaining.

[2019-07-31 17:32] MathiasReker commented on #108
Can you push your latest commits to the dev branch? :)

[2019-08-31 13:58] 01park opened #119 "New release for this module"
In PS 1.7.6.1 previous version is being offered with the available bugs. Is it possible to bring out a new version of this module with the bugs fixed. would good for new users.

[2019-10-02 11:07] pandiheberge opened #121 "Bug install"
Hello,

It is not possible to install it on prestashop 1.6.1.23

2 erreurs

    Une erreur est survenue pendant l'extraction du module (le fichier peut être corrompu).
    Impossible de mettre à jour le module Google sitemap : erreur lors de l'extraction de la dernière version.

[2019-10-04 10:41] lichesser opened #122 "Sitemap includes child-categories of inactive parent category"
Hello,

if a category ist set to inactive (active = 0) it correctly doesn't get included in the generated sitemap anymore, but "active" child-categories of the inactive parent category are still included.

This seems unintuitive. Maybe a new solution for `getCategoryLink` is needed. I think it should be possible to use `getNestedCategories`  to get the correct category tree.

[2019-10-04 10:46] lichesser opened #123 "Generating sitemap in Backend with >25000 links fails"
Hello,

PrestaShop: 1.7.6.1

if you have a shop with >25000 products, generating the sitemap in the backend (not via the Cron-URL) fails.

The first sitemap file is generated and contains ~25000 URLs.

The redirect (with `continue=1`) which is supposed to create the next sitemap file doesn't work.

The redirect ends up in the "Module Catalog" in the backend.

Thus the missing sitemap files and the

[2019-10-23 10:45] Lupi1986 opened #124 "Fatal error code"
Hi there,

I've tried to install gsitemap, but I got an error message… Now my module area shows this error code :

[PrestaShop] Fatal error in module file :/home/xxxxxxxx/public_html/modules/gsitemap/gsitemap.php:
Uncaught Error: Call to undefined method Gsitemap::trans() in /home/xxxxxxxx/public_html/modules/gsitemap/gsitemap.php:47 Stack trace: #0 [internal function]: Gsitemap->__construct() #1

[2019-12-06 13:29] TeapotJames opened #128 "Controller paths in sitemap XML - causing 404 errors in Search Console"
Is anyone else getting controller paths in the output of their XML file?

If I visit the XML output file - https://www.angelalangford.com/1_en_0_sitemap.xml I can see the following paths…

https://www.angelalangford.com/index.php?controller=product
https://www.angelalangford.com/index.php?controller=category
https://www.angelalangford.com/index.php?controller=cms

These paths are giving me 404 err

[2019-12-25 10:43] sickboards commented on #115
I have the same issue, if I manually run it is gives a timeout and when I use a cron only 2 of the six languages are done. To reproduce you need a big store (i guess)

[2019-12-31 18:47] #113 closed

[2019-12-31 18:48] eternoendless commented on #119
I'll take care of that

[2019-12-31 18:48] #119 closed